<div class="panel-header">
  <h3>
    <%= message.sender.first_name %> <small><%= time_ago_in_words(message.created_at) %> ago</small>
  </h3>
</div>
<div class="panel-body">
  <p><%= message.content %></p>
</div>
