<div class="row col-md-8 col-md-offset-2">
  <h1><%= chat_room_greeting(@match_room.receiver, @match_room.sender) %></h1>
  <div>
    <% if @match_room.messages.any? %>
      <div id="messages">
        <%= render partial: 'messages/message', collection: @match_room.messages%>
      </div>
    <%else%>
      <div class="panel-body hidden" id="messages"></div>
    <%end%>
  </div>
  <%= render partial: 'messages/message_form', locals: {message: @message}%>
</div>
