<div class="row">
  <div class="col-xs-6 col-sm-6 col-lg-6">
    <h3>Login</h3>
    <form action="/login" method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <label for="email">Email</label>
      <input type="email" name="email">
      <br>
      <label for="password">Password</label>
      <input type="password" name="password">
      <br>
      <input type="submit" value="Login">
    </form>
  </div>
  <div class="col-xs-6 col-sm-6 col-lg-6">
    <h3>Register a New User</h3>
    <form action="/users" method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <label for="email">Email</label>
      <input type="email" name="email">
      <br>
      <label for="first_name">First Name</label>
      <input type="text" name="first_name">
      <br>
      <label for="last_name">Last Name</label>
      <input type="text" name="last_name">
      <br>
      <label for="sex">Sex</label>
      <select name="sex">
        <option disabled selected value> -- select one -- </option>
        <option value="Male">Male</option>
        <option value="Female">Female</option>
        <option value="Other">Other</option>
      </select>
      <br>
      <label for="orientation">Sexual Orientation</label>
      <select name="orientation">
        <option disabled selected value> -- select one -- </option>
        <option value="Bi-Sexual">Bi-Sexual</option>
        <option value="Straight">Straight</option>
        <option value="Gay">Gay</option>
      </select>
      <br>
      <label for="passowrd">Password</label>
      <input type="password" name="password">
      <br>
      <label for="password_confirm">Confirm Password</label>
      <input type="password" name="password_confirm">
      <br>
      <input type="submit" value="Register user">
    </form>
  </div>
</div>
