<div class="header1">
  <h1 class="elegantshd"> MEET UP</h1>
</div>
<div id="newRow" class="row">
  <div id="loginBox" class="col-xs-4 col-sm-4 col-lg-4">
    <h3>Login</h3>
    <form action="/login" method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="email">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password">
      </div>
      <button type="submit" class="btn btn-primary">Login</button>
      <hr>
    </form>
  </div>

  <div id="registerBox" class="col-xs-4 col-sm-4 col-lg-4">
    <h3>Register And Meet Friendly Singles!</h3>
    <form action="/users" method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="email">
      </div>
      <div class="form-group">
        <label for="exampleInputfirst_name">First Name</label>
        <input type="text" class="form-control" id="exampleInputfirst_name" placeholder="Enter First Name" name="first_name">
      </div>
      <div class="form-group">
        <label for="exampleInputlast_name">First Name</label>
        <input type="text" class="form-control" id="exampleInputlast_name" placeholder="Enter Last Name" name="last_name">
      </div>
      <fieldset class="form-group">
        <legend>What is Your Sex?</legend>
        <div class="form-check">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" name="sex" value="Male">
            Male
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" name="sex" value="Female">
            Female
          </label>
        </div>
      </fieldset>
      <fieldset class="form-group">
        <legend>What is Your Sexual Orientation?</legend>
        <div class="form-check">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" name="orientation" value="Bi-Sexual">
            Bi-Sexual
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" name="orientation" value="Straight">
            Straight
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" name="orientation" value="Gay">
            Gay
          </label>
        </div>
      </fieldset>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Confirm Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Confirm Password" name="password_confirm">
      </div>
      <button type="submit" class="btn btn-primary">Register</button>
      <hr>
    </form>
  </div>
</div>
<br>
<div class="login_reg_Quote">
  <h1>You Are One Click Away From Love!</h1>
</div>
<br>
<br>
<div id="homejumbo" class="jumbotron jumbotron-fluid">
  <div  class="container">
    <h1 class="display-3">Let Us Help You Find Your Soultmate!</h1>
  </div>
</div>
