<style>
.table td {
   text-align: center;   
}
.errors{
  color: red;
}
</style>
<h1>Survey</h1>
<h3>For each pair,
you must choose where on the scale between them you think you are. For example, if the pair is “angry” versus “calm”, you should circle a 1 if you are always angry and never calm, a 3 if you are half and half, etc.</h3>
<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
    <p class="errors"><%= error %></p>
  <% end %>
<% end %>
<form action="/survey/personality" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <table class="table table-bordered table-hover">
    <tbody>
      <tr>
        <td>Makes Lists</td>
        <td><label for="">1</label>
        <input type="radio" name="1" value="1">
        <label for="">2</label>
        <input type="radio" name="1" value="2">
        <label for="">3</label>
        <input type="radio" name="1" value="3">
        <label for="">4</label>
        <input type="radio" name="1" value="4">
        <label for="">5</label>
        <input type="radio" name="1" value="5"></td>
        <td>Relies on Memory</td>
      </tr>
      <tr>
        <td>Sceptical</td>
        <td><label for="">1</label>
    <input type="radio" name="2" value="1">
    <label for="">2</label>
    <input type="radio" name="2" value="2">
    <label for="">3</label>
    <input type="radio" name="2" value="3">
    <label for="">4</label>
    <input type="radio" name="2" value="4">
    <label for="">5</label>
    <input type="radio" name="2" value="5"></td>
        <td>Wants to Beleive</td>
      </tr>
      <tr>
        <td>Bored by Time Alone</td>
        <td><label for="">1</label>
    <input type="radio" name="3" value="1">
    <label for="">2</label>
    <input type="radio" name="3" value="2">
    <label for="">3</label>
    <input type="radio" name="3" value="3">
    <label for="">4</label>
    <input type="radio" name="3" value="4">
    <label for="">5</label>
    <input type="radio" name="3" value="5"></td>
        <td>Needs Time Alone</td>
      </tr>
      <tr>
        <td>accepts things as they are</td>
        <td><label for="">1</label>
    <input type="radio" name="4" value="1">
    <label for="">2</label>
    <input type="radio" name="4" value="2">
    <label for="">3</label>
    <input type="radio" name="4" value="3">
    <label for="">4</label>
    <input type="radio" name="4" value="4">
    <label for="">5</label>
    <input type="radio" name="4" value="5"></td>
        <td>unsatisfied with the ways things are</td>
      </tr>
      <tr>
        <td>keeps a clean room</td>
        <td><label for="">1</label>
    <input type="radio" name="5" value="1">
    <label for="">2</label>
    <input type="radio" name="5" value="2">
    <label for="">3</label>
    <input type="radio" name="5" value="3">
    <label for="">4</label>
    <input type="radio" name="5" value="4">
    <label for="">5</label>
    <input type="radio" name="5" value="5"></td>
        <td>just puts stuff where ever</td>
      </tr>
      <tr>
        <td>thinks "robotic" is an insult</td>
        <td><label for="">1</label>
    <input type="radio" name="6" value="1">
    <label for="">2</label>
    <input type="radio" name="6" value="2">
    <label for="">3</label>
    <input type="radio" name="6" value="3">
    <label for="">4</label>
    <input type="radio" name="6" value="4">
    <label for="">5</label>
    <input type="radio" name="6" value="5"></td>
        <td>strives to have a mechanical mind</td>
      </tr>
      <tr>
        <td>energetic</td>
        <td><label for="">1</label>
    <input type="radio" name="7" value="1">
    <label for="">2</label>
    <input type="radio" name="7" value="2">
    <label for="">3</label>
    <input type="radio" name="7" value="3">
    <label for="">4</label>
    <input type="radio" name="7" value="4">
    <label for="">5</label>
    <input type="radio" name="7" value="5"></td>
        <td>mellow</td>
      </tr>
      <tr>
        <td>prefer to take multiple choice test</td>
        <td><label for="">1</label>
    <input type="radio" name="8" value="1">
    <label for="">2</label>
    <input type="radio" name="8" value="2">
    <label for="">3</label>
    <input type="radio" name="8" value="3">
    <label for="">4</label>
    <input type="radio" name="8" value="4">
    <label for="">5</label>
    <input type="radio" name="8" value="5"></td>
        <td>prefer essay answer</td>
      </tr>
      <tr>
        <td>chaotic</td>
        <td><label for="">1</label>
    <input type="radio" name="9" value="1">
    <label for="">2</label>
    <input type="radio" name="9" value="2">
    <label for="">3</label>
    <input type="radio" name="9" value="3">
    <label for="">4</label>
    <input type="radio" name="9" value="4">
    <label for="">5</label>
    <input type="radio" name="9" value="5"</td>
        <td>organized</td>
      </tr>
      <tr>
        <td>easily hurt</td>
        <td><label for="">1</label>
    <input type="radio" name="10" value="1">
    <label for="">2</label>
    <input type="radio" name="10" value="2">
    <label for="">3</label>
    <input type="radio" name="10" value="3">
    <label for="">4</label>
    <input type="radio" name="10" value="4">
    <label for="">5</label>
    <input type="radio" name="10" value="5"></td>
        <td>thick-skinned</td>
      </tr>
      <tr>
        <td>works best in groups</td>
        <td><label for="">1</label>
    <input type="radio" name="11" value="1">
    <label for="">2</label>
    <input type="radio" name="11" value="2">
    <label for="">3</label>
    <input type="radio" name="11" value="3">
    <label for="">4</label>
    <input type="radio" name="11" value="4">
    <label for="">5</label>
    <input type="radio" name="11" value="5"></td>
        <td>works best alone</td>
      </tr>
      <tr>
        <td>focused on the present</td>
        <td><label for="">1</label>
    <input type="radio" name="12" value="1">
    <label for="">2</label>
    <input type="radio" name="12" value="2">
    <label for="">3</label>
    <input type="radio" name="12" value="3">
    <label for="">4</label>
    <input type="radio" name="12" value="4">
    <label for="">5</label>
    <input type="radio" name="12" value="5"></td>
        <td>focused on the future</td>
      </tr>
      <tr>
        <td>plans far ahead</td>
        <td><label for="">1</label>
    <input type="radio" name="13" value="1">
    <label for="">2</label>
    <input type="radio" name="13" value="2">
    <label for="">3</label>
    <input type="radio" name="13" value="3">
    <label for="">4</label>
    <input type="radio" name="13" value="4">
    <label for="">5</label>
    <input type="radio" name="13" value="5"></td>
        <td>plans at the last minute</td>
      </tr>
      <tr>
        <td>wants people's respect</td>
        <td><label for="">1</label>
    <input type="radio" name="14" value="1">
    <label for="">2</label>
    <input type="radio" name="14" value="2">
    <label for="">3</label>
    <input type="radio" name="14" value="3">
    <label for="">4</label>
    <input type="radio" name="14" value="4">
    <label for="">5</label>
    <input type="radio" name="14" value="5"></td>
        <td>wants their love</td>
      </tr>
      <tr>
        <td>gets worn out by parties</td>
        <td><label for="">1</label>
    <input type="radio" name="15" value="1">
    <label for="">2</label>
    <input type="radio" name="15" value="2">
    <label for="">3</label>
    <input type="radio" name="15" value="3">
    <label for="">4</label>
    <input type="radio" name="15" value="4">
    <label for="">5</label>
    <input type="radio" name="15" value="5"></td>
        <td>gets fired up by parties</td>
      </tr>
      <tr>
        <td>fits in</td>
        <td><label for="">1</label>
    <input type="radio" name="16" value="1">
    <label for="">2</label>
    <input type="radio" name="16" value="2">
    <label for="">3</label>
    <input type="radio" name="16" value="3">
    <label for="">4</label>
    <input type="radio" name="16" value="4">
    <label for="">5</label>
    <input type="radio" name="16" value="5"></td>
        <td>stands out</td>
      </tr>
      <tr>
        <td>keeps options open</td>
        <td><label for="">1</label>
    <input type="radio" name="17" value="1">
    <label for="">2</label>
    <input type="radio" name="17" value="2">
    <label for="">3</label>
    <input type="radio" name="17" value="3">
    <label for="">4</label>
    <input type="radio" name="17" value="4">
    <label for="">5</label>
    <input type="radio" name="17" value="5"></td>
        <td>commits</td>
      </tr>
      <tr>
        <td>wants to be good at fixing things</td>
        <td><label for="">1</label>
    <input type="radio" name="18" value="1">
    <label for="">2</label>
    <input type="radio" name="18" value="2">
    <label for="">3</label>
    <input type="radio" name="18" value="3">
    <label for="">4</label>
    <input type="radio" name="18" value="4">
    <label for="">5</label>
    <input type="radio" name="18" value="5"></td>
        <td>wants to be good at fixing people</td>
      </tr>
      <tr>
        <td>talks more</td>
        <td><label for="">1</label>
    <input type="radio" name="19" value="1">
    <label for="">2</label>
    <input type="radio" name="19" value="2">
    <label for="">3</label>
    <input type="radio" name="19" value="3">
    <label for="">4</label>
    <input type="radio" name="19" value="4">
    <label for="">5</label>
    <input type="radio" name="19" value="5"></td>
        <td>listens more</td>
      </tr>
      <tr>
        <td>when describing an event, will tell people what happened</td>
        <td><label for="">1</label>
    <input type="radio" name="20" value="1">
    <label for="">2</label>
    <input type="radio" name="20" value="2">
    <label for="">3</label>
    <input type="radio" name="20" value="3">
    <label for="">4</label>
    <input type="radio" name="20" value="4">
    <label for="">5</label>
    <input type="radio" name="20" value="5"></td>
        <td>when describing an event, will tell people what it meant</td>
      </tr>
      <tr>
        <td>gets work done right away</td>
        <td><label for="">1</label>
    <input type="radio" name="21" value="1">
    <label for="">2</label>
    <input type="radio" name="21" value="2">
    <label for="">3</label>
    <input type="radio" name="21" value="3">
    <label for="">4</label>
    <input type="radio" name="21" value="4">
    <label for="">5</label>
    <input type="radio" name="21" value="5"></td>
        <td>procrastinates</td>
      </tr>
      <tr>
        <td>follows the heart</td>
        <td><label for="">1</label>
    <input type="radio" name="22" value="1">
    <label for="">2</label>
    <input type="radio" name="22" value="2">
    <label for="">3</label>
    <input type="radio" name="22" value="3">
    <label for="">4</label>
    <input type="radio" name="22" value="4">
    <label for="">5</label>
    <input type="radio" name="22" value="5"></td>
        <td>follows the head</td>
      </tr>
      <tr>
        <td>stays at home</td>
        <td><label for="">1</label>
    <input type="radio" name="23" value="1">
    <label for="">2</label>
    <input type="radio" name="23" value="2">
    <label for="">3</label>
    <input type="radio" name="23" value="3">
    <label for="">4</label>
    <input type="radio" name="23" value="4">
    <label for="">5</label>
    <input type="radio" name="23" value="5"></td>
        <td>goes out on the town</td>
      </tr>
      <tr>
        <td>wants the big picture</td>
        <td><label for="">1</label>
    <input type="radio" name="24" value="1">
    <label for="">2</label>
    <input type="radio" name="24" value="2">
    <label for="">3</label>
    <input type="radio" name="24" value="3">
    <label for="">4</label>
    <input type="radio" name="24" value="4">
    <label for="">5</label>
    <input type="radio" name="24" value="5"></td>
        <td>wants the details</td>
      </tr>
      <tr>
        <td>improvises</td>
        <td><label for="">1</label>
    <input type="radio" name="25" value="1">
    <label for="">2</label>
    <input type="radio" name="25" value="2">
    <label for="">3</label>
    <input type="radio" name="25" value="3">
    <label for="">4</label>
    <input type="radio" name="25" value="4">
    <label for="">5</label>
    <input type="radio" name="25" value="5"></td>
        <td>prepares</td>
      </tr>
      <tr>
        <td>bases morality on justice</td>
        <td><label for="">1</label>
    <input type="radio" name="26" value="1">
    <label for="">2</label>
    <input type="radio" name="26" value="2">
    <label for="">3</label>
    <input type="radio" name="26" value="3">
    <label for="">4</label>
    <input type="radio" name="26" value="4">
    <label for="">5</label>
    <input type="radio" name="26" value="5"></td>
        <td>bases morality on compassion</td>
      </tr>
      <tr>
        <td>finds it difficult to yell very loudly</td>
        <td><label for="">1</label>
    <input type="radio" name="27" value="1">
    <label for="">2</label>
    <input type="radio" name="27" value="2">
    <label for="">3</label>
    <input type="radio" name="27" value="3">
    <label for="">4</label>
    <input type="radio" name="27" value="4">
    <label for="">5</label>
    <input type="radio" name="27" value="5"></td>
        <td>yelling to others when they are far away comes naturally</td>
      </tr>
      <tr>
        <td>theoretical</td>
        <td><label for="">1</label>
    <input type="radio" name="28" value="1">
    <label for="">2</label>
    <input type="radio" name="28" value="2">
    <label for="">3</label>
    <input type="radio" name="28" value="3">
    <label for="">4</label>
    <input type="radio" name="28" value="4">
    <label for="">5</label>
    <input type="radio" name="28" value="5"></td>
        <td>empirical</td>
      </tr>
      <tr>
        <td>works hard</td>
        <td><label for="">1</label>
    <input type="radio" name="29" value="1">
    <label for="">2</label>
    <input type="radio" name="29" value="2">
    <label for="">3</label>
    <input type="radio" name="29" value="3">
    <label for="">4</label>
    <input type="radio" name="29" value="4">
    <label for="">5</label>
    <input type="radio" name="29" value="5"></td>
        <td>plays hard</td>
      </tr>
      <tr>
        <td>uncomfortable with emotions</td>
        <td><label for="">1</label>
    <input type="radio" name="30" value="1">
    <label for="">2</label>
    <input type="radio" name="30" value="2">
    <label for="">3</label>
    <input type="radio" name="30" value="3">
    <label for="">4</label>
    <input type="radio" name="30" value="4">
    <label for="">5</label>
    <input type="radio" name="30" value="5"></td>
        <td>values emotions</td>
      </tr>
      <tr>
        <td>likes to perform in front of other people</td>
        <td><label for="">1</label>
    <input type="radio" name="31" value="1">
    <label for="">2</label>
    <input type="radio" name="31" value="2">
    <label for="">3</label>
    <input type="radio" name="31" value="3">
    <label for="">4</label>
    <input type="radio" name="31" value="4">
    <label for="">5</label>
    <input type="radio" name="31" value="5"></td>
        <td>avoids public speaking</td>
      </tr>
      <tr>
        <td>likes to know "who?", "what?", "when?"</td>
        <td><label for="">1</label>
    <input type="radio" name="32" value="1">
    <label for="">2</label>
    <input type="radio" name="32" value="2">
    <label for="">3</label>
    <input type="radio" name="32" value="3">
    <label for="">4</label>
    <input type="radio" name="32" value="4">
    <label for="">5</label>
    <input type="radio" name="32" value="5"></td>
        <td>likes to know "why?"</td>
      </tr>
    </tbody>
  </table>
  <button type="submit" class="btn btn-success btn-block btn-lg">Submit & Continue to Personal Survey</button>
</form>