<style>
.survey_questions{
  display: inline-block;
}
.question {
  text-align: center;
}
</style>
<h1>Survey</h1>
<h3>For each pair,
you must choose where on the scale between them you think you are. For example, if the pair is “angry” versus “calm”, you should circle a 1 if you are always angry and never calm, a 3 if you are half and half, etc.</h3>
<form>
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <div class="question">
    <p class="survey_questions">Makes Lists</p>
    <label for="">1</label>
    <input type="radio" name="1" value="1">
    <label for="">2</label>
    <input type="radio" name="1" value="2">
    <label for="">3</label>
    <input type="radio" name="1" value="3">
    <label for="">4</label>
    <input type="radio" name="1" value="4">
    <label for="">5</label>
    <input type="radio" name="1" value="5">
    <p class="survey_questions">Relies on Memory</p>
  </div>
  <div class="question">
    <p class="survey_questions">Sceptical</p>
    <label for="">1</label>
    <input type="radio" name="2" value="1">
    <label for="">2</label>
    <input type="radio" name="2" value="2">
    <label for="">3</label>
    <input type="radio" name="2" value="3">
    <label for="">4</label>
    <input type="radio" name="2" value="4">
    <label for="">5</label>
    <input type="radio" name="2" value="5">
    <p class="survey_questions">Wants to Beleive</p>
  </div>
  <div class="question">
    <p class="survey_questions">Bored by Time Alone</p>
    <label for="">1</label>
    <input type="radio" name="3" value="1">
    <label for="">2</label>
    <input type="radio" name="3" value="2">
    <label for="">3</label>
    <input type="radio" name="3" value="3">
    <label for="">4</label>
    <input type="radio" name="3" value="4">
    <label for="">5</label>
    <input type="radio" name="3" value="5">
    <p class="survey_questions">Needs Time Alone</p>
  </div>
  <div class="question">
    <p class="survey_questions">accepts things as they are</p>
    <label for="">1</label>
    <input type="radio" name="4" value="1">
    <label for="">2</label>
    <input type="radio" name="4" value="2">
    <label for="">3</label>
    <input type="radio" name="4" value="3">
    <label for="">4</label>
    <input type="radio" name="4" value="4">
    <label for="">5</label>
    <input type="radio" name="4" value="5">
    <p class="survey_questions">unsatisfied with the ways things are</p>
  </div>
  <div class="question">
    <p class="survey_questions">keeps a clean room</p>
    <label for="">1</label>
    <input type="radio" name="5" value="1">
    <label for="">2</label>
    <input type="radio" name="5" value="2">
    <label for="">3</label>
    <input type="radio" name="5" value="3">
    <label for="">4</label>
    <input type="radio" name="5" value="4">
    <label for="">5</label>
    <input type="radio" name="5" value="5">
    <p class="survey_questions">just puts stuff where ever</p>
  </div>
  <div class="question">
    <p class="survey_questions">thinks "robotic" is an insult</p>
    <label for="">1</label>
    <input type="radio" name="6" value="1">
    <label for="">2</label>
    <input type="radio" name="6" value="2">
    <label for="">3</label>
    <input type="radio" name="6" value="3">
    <label for="">4</label>
    <input type="radio" name="6" value="4">
    <label for="">5</label>
    <input type="radio" name="6" value="5">
    <p class="survey_questions">strives to have a mechanical mind</p>
  </div>
  <div class="question">
    <p class="survey_questions">energetic</p>
    <label for="">1</label>
    <input type="radio" name="7" value="1">
    <label for="">2</label>
    <input type="radio" name="7" value="2">
    <label for="">3</label>
    <input type="radio" name="7" value="3">
    <label for="">4</label>
    <input type="radio" name="7" value="4">
    <label for="">5</label>
    <input type="radio" name="7" value="5">
    <p class="survey_questions">mellow</p>
  </div>
  <div class="question">
    <p class="survey_questions">prefer to take multiple choice test</p>
    <label for="">1</label>
    <input type="radio" name="8" value="1">
    <label for="">2</label>
    <input type="radio" name="8" value="2">
    <label for="">3</label>
    <input type="radio" name="8" value="3">
    <label for="">4</label>
    <input type="radio" name="8" value="4">
    <label for="">5</label>
    <input type="radio" name="8" value="5">
    <p class="survey_questions"> prefer essay answers</p>
  </div>
  <div class="question">
    <p class="survey_questions">chaotic</p>
    <label for="">1</label>
    <input type="radio" name="9" value="1">
    <label for="">2</label>
    <input type="radio" name="9" value="2">
    <label for="">3</label>
    <input type="radio" name="9" value="3">
    <label for="">4</label>
    <input type="radio" name="9" value="4">
    <label for="">5</label>
    <input type="radio" name="9" value="5">
    <p class="survey_questions">organized</p>
  </div>
  <div class="question">
    <p class="survey_questions">easily hurt</p>
    <label for="">1</label>
    <input type="radio" name="10" value="1">
    <label for="">2</label>
    <input type="radio" name="10" value="2">
    <label for="">3</label>
    <input type="radio" name="10" value="3">
    <label for="">4</label>
    <input type="radio" name="10" value="4">
    <label for="">5</label>
    <input type="radio" name="10" value="5">
    <p class="survey_questions">thick-skinned</p>
  </div>
  <div class="question">
    <p class="survey_questions">works best in groups</p>
    <label for="">1</label>
    <input type="radio" name="11" value="1">
    <label for="">2</label>
    <input type="radio" name="11" value="2">
    <label for="">3</label>
    <input type="radio" name="11" value="3">
    <label for="">4</label>
    <input type="radio" name="11" value="4">
    <label for="">5</label>
    <input type="radio" name="11" value="5">
    <p class="survey_questions">works best alone</p>
  </div>
  <div class="question">
    <p class="survey_questions">focused on the present</p>
    <label for="">1</label>
    <input type="radio" name="12" value="1">
    <label for="">2</label>
    <input type="radio" name="12" value="2">
    <label for="">3</label>
    <input type="radio" name="12" value="3">
    <label for="">4</label>
    <input type="radio" name="12" value="4">
    <label for="">5</label>
    <input type="radio" name="12" value="5">
    <p class="survey_questions">focused on the future</p>
  </div>
  <div class="question">
    <p class="survey_questions">plans far ahead</p>
    <label for="">1</label>
    <input type="radio" name="13" value="1">
    <label for="">2</label>
    <input type="radio" name="13" value="2">
    <label for="">3</label>
    <input type="radio" name="13" value="3">
    <label for="">4</label>
    <input type="radio" name="13" value="4">
    <label for="">5</label>
    <input type="radio" name="13" value="5">
    <p class="survey_questions">plans at the last minute</p>
  </div>
  <div class="question">
    <p class="survey_questions">wants people's respect</p>
    <label for="">1</label>
    <input type="radio" name="14" value="1">
    <label for="">2</label>
    <input type="radio" name="14" value="2">
    <label for="">3</label>
    <input type="radio" name="14" value="3">
    <label for="">4</label>
    <input type="radio" name="14" value="4">
    <label for="">5</label>
    <input type="radio" name="14" value="5">
    <p class="survey_questions">wants their love</p>
  </div>
  <div class="question">
    <p class="survey_questions">gets worn out by parties</p>
    <label for="">1</label>
    <input type="radio" name="15" value="1">
    <label for="">2</label>
    <input type="radio" name="15" value="2">
    <label for="">3</label>
    <input type="radio" name="15" value="3">
    <label for="">4</label>
    <input type="radio" name="15" value="4">
    <label for="">5</label>
    <input type="radio" name="15" value="5">
    <p class="survey_questions">gets fired up by parties</p>
  </div>
  <div class="question">
    <p class="survey_questions">fits in</p>
    <label for="">1</label>
    <input type="radio" name="16" value="1">
    <label for="">2</label>
    <input type="radio" name="16" value="2">
    <label for="">3</label>
    <input type="radio" name="16" value="3">
    <label for="">4</label>
    <input type="radio" name="16" value="4">
    <label for="">5</label>
    <input type="radio" name="16" value="5">
    <p class="survey_questions">stands out</p>
  </div>
  <div class="question">
    <p class="survey_questions">keeps options open</p>
    <label for="">1</label>
    <input type="radio" name="17" value="1">
    <label for="">2</label>
    <input type="radio" name="17" value="2">
    <label for="">3</label>
    <input type="radio" name="17" value="3">
    <label for="">4</label>
    <input type="radio" name="17" value="4">
    <label for="">5</label>
    <input type="radio" name="17" value="5">
    <p class="survey_questions">commits</p>
  </div>
  <div class="question">
    <p class="survey_questions">wants to be good at fixing things</p>
    <label for="">1</label>
    <input type="radio" name="18" value="1">
    <label for="">2</label>
    <input type="radio" name="18" value="2">
    <label for="">3</label>
    <input type="radio" name="18" value="3">
    <label for="">4</label>
    <input type="radio" name="18" value="4">
    <label for="">5</label>
    <input type="radio" name="18" value="5">
    <p class="survey_questions">wants to be good at fixing people</p>
  </div>
  <div class="question">
    <p class="survey_questions">talks more</p>
    <label for="">1</label>
    <input type="radio" name="19" value="1">
    <label for="">2</label>
    <input type="radio" name="19" value="2">
    <label for="">3</label>
    <input type="radio" name="19" value="3">
    <label for="">4</label>
    <input type="radio" name="19" value="4">
    <label for="">5</label>
    <input type="radio" name="19" value="5">
    <p class="survey_questions">listens more</p>
  </div>
  <div class="question">
    <p class="survey_questions">when describing an event, will tell people what happened</p>
    <label for="">1</label>
    <input type="radio" name="20" value="1">
    <label for="">2</label>
    <input type="radio" name="20" value="2">
    <label for="">3</label>
    <input type="radio" name="20" value="3">
    <label for="">4</label>
    <input type="radio" name="20" value="4">
    <label for="">5</label>
    <input type="radio" name="20" value="5">
    <p class="survey_questions">when describing an event, will tell people what it meant</p>
  </div>
  <div class="question">
    <p class="survey_questions">gets work done right away</p>
    <label for="">1</label>
    <input type="radio" name="21" value="1">
    <label for="">2</label>
    <input type="radio" name="21" value="2">
    <label for="">3</label>
    <input type="radio" name="21" value="3">
    <label for="">4</label>
    <input type="radio" name="21" value="4">
    <label for="">5</label>
    <input type="radio" name="21" value="5">
    <p class="survey_questions">procrastinates</p>
  </div>
  <div class="question">
    <p class="survey_questions">follows the heart</p>
    <label for="">1</label>
    <input type="radio" name="22" value="1">
    <label for="">2</label>
    <input type="radio" name="22" value="2">
    <label for="">3</label>
    <input type="radio" name="22" value="3">
    <label for="">4</label>
    <input type="radio" name="22" value="4">
    <label for="">5</label>
    <input type="radio" name="22" value="5">
    <p class="survey_questions">follows the head</p>
  </div>
  <div class="question">
    <p class="survey_questions">stays at home</p>
    <label for="">1</label>
    <input type="radio" name="23" value="1">
    <label for="">2</label>
    <input type="radio" name="23" value="2">
    <label for="">3</label>
    <input type="radio" name="23" value="3">
    <label for="">4</label>
    <input type="radio" name="23" value="4">
    <label for="">5</label>
    <input type="radio" name="23" value="5">
    <p class="survey_questions">goes out on the town</p>
  </div>
  <div class="question">
    <p class="survey_questions">wants the big picture</p>
    <label for="">1</label>
    <input type="radio" name="24" value="1">
    <label for="">2</label>
    <input type="radio" name="24" value="2">
    <label for="">3</label>
    <input type="radio" name="24" value="3">
    <label for="">4</label>
    <input type="radio" name="24" value="4">
    <label for="">5</label>
    <input type="radio" name="24" value="5">
    <p class="survey_questions">wants the details</p>
  </div>
  <div class="question">
    <p class="survey_questions">improvises</p>
    <label for="">1</label>
    <input type="radio" name="25" value="1">
    <label for="">2</label>
    <input type="radio" name="25" value="2">
    <label for="">3</label>
    <input type="radio" name="25" value="3">
    <label for="">4</label>
    <input type="radio" name="25" value="4">
    <label for="">5</label>
    <input type="radio" name="25" value="5">
    <p class="survey_questions">prepares</p>
  </div>
  <div class="question">
    <p class="survey_questions">bases morality on justice</p>
    <label for="">1</label>
    <input type="radio" name="26" value="1">
    <label for="">2</label>
    <input type="radio" name="26" value="2">
    <label for="">3</label>
    <input type="radio" name="26" value="3">
    <label for="">4</label>
    <input type="radio" name="26" value="4">
    <label for="">5</label>
    <input type="radio" name="26" value="5">
    <p class="survey_questions">bases morality on compassion</p>
  </div>
  <div class="question">
    <p class="survey_questions">finds it difficult to yell very loudly</p>
    <label for="">1</label>
    <input type="radio" name="27" value="1">
    <label for="">2</label>
    <input type="radio" name="27" value="2">
    <label for="">3</label>
    <input type="radio" name="27" value="3">
    <label for="">4</label>
    <input type="radio" name="27" value="4">
    <label for="">5</label>
    <input type="radio" name="27" value="5">
    <p class="survey_questions">yelling to others when they are far away comes naturally</p>
  </div>
  <div class="question">
    <p class="survey_questions">theoretical</p>
    <label for="">1</label>
    <input type="radio" name="28" value="1">
    <label for="">2</label>
    <input type="radio" name="28" value="2">
    <label for="">3</label>
    <input type="radio" name="28" value="3">
    <label for="">4</label>
    <input type="radio" name="28" value="4">
    <label for="">5</label>
    <input type="radio" name="28" value="5">
    <p class="survey_questions">empirical</p>
  </div>
  <div class="question">
    <p class="survey_questions">works hard</p>
    <label for="">1</label>
    <input type="radio" name="29" value="1">
    <label for="">2</label>
    <input type="radio" name="29" value="2">
    <label for="">3</label>
    <input type="radio" name="29" value="3">
    <label for="">4</label>
    <input type="radio" name="29" value="4">
    <label for="">5</label>
    <input type="radio" name="29" value="5">
    <p class="survey_questions">plays hard</p>
  </div>
  <div class="question">
    <p class="survey_questions">uncomfortable with emotions</p>
    <label for="">1</label>
    <input type="radio" name="30" value="1">
    <label for="">2</label>
    <input type="radio" name="30" value="2">
    <label for="">3</label>
    <input type="radio" name="30" value="3">
    <label for="">4</label>
    <input type="radio" name="30" value="4">
    <label for="">5</label>
    <input type="radio" name="30" value="5">
    <p class="survey_questions">values emotions</p>
  </div>
    <div class="question">
    <p class="survey_questions">likes to perform in front of other people</p>
    <label for="">1</label>
    <input type="radio" name="31" value="1">
    <label for="">2</label>
    <input type="radio" name="31" value="2">
    <label for="">3</label>
    <input type="radio" name="31" value="3">
    <label for="">4</label>
    <input type="radio" name="31" value="4">
    <label for="">5</label>
    <input type="radio" name="31" value="5">
    <p class="survey_questions">avoids public speaking</p>
  </div>
    <div class="question">
    <p class="survey_questions">likes to know "who?", "what?", "when?"</p>
    <label for="">1</label>
    <input type="radio" name="32" value="1">
    <label for="">2</label>
    <input type="radio" name="32" value="2">
    <label for="">3</label>
    <input type="radio" name="32" value="3">
    <label for="">4</label>
    <input type="radio" name="32" value="4">
    <label for="">5</label>
    <input type="radio" name="32" value="5">
    <p class="survey_questions"> likes to know "why?"</p>
  </div>
  <input type="submit" value="Continue Survey">
</form>