<% if flash[:notice] %>
  <% flash[:notice].each do |notice| %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
<% end %>

<% if flash[:errors] %>
  <ul class="alert alert-danger">
    <h4>Fix your Errors</h4>
  <% flash[:errors].each do |error| %>
    <li><%= error %></li>
  <% end %>
  </ul>
<% end %>
