Array.prototype.remove = function(x) {
    var i;
    for(i in this){
        if(this[i].toString() == x.toString()){
            this.splice(i,1)
        }
    }
}

App.messages = App.cable.subscriptions.create('MessagesChannel', {
  received: function(data) {
    console.log(data);
    $("#messages").removeClass('hidden')
    $('#messages').append(this.renderMessage(data));
    $("#messages").scrollTop(100000)
  },

  renderMessage: function(data) {
    var last_message = $('.colored-message:last');

    if($('.colored-message:last').length == 0){
      var last_message_class = 'blue'
    } else {
      var last_message_class = $('.colored-message:last').attr('class').split(' ')[0];
    }

    var last_message_text = $('.colored-message:last').children('.panel-header').children('.message_info').text();

    var color_choices = ["yellow", "blue"];

    if(last_message_text.match(new RegExp(data.sender))){
      var color = last_message_class;
    } else {
      color_choices.remove(last_message_class)
      var color = color_choices[0];
    }

    console.log(color_choices, last_message_class, last_message, last_message_text);

    return "<div class='dialogue'>" + "<div class='" + color +  " colored-message'>" + "<div class='panel-header'><img class='thumbnail img-thumbnail' src='http://pngimg.com/uploads/face/face_PNG5669.png' alt='Putin'><h4 class='message_info'>" + data.sender + "<small class='new' data-time='1'> " + LocalTime.relativeTimeAgo(new Date(data.created_at)) + "</small></h4></div><div class='panel-body'><p>" + data.content + "</p></div>";
  }
});
