<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.first_name %></h1>
    <p>
      <%= @sender.first_name %> wants to hook up with you. <%= link_to 'See her profile', users_show_path(@sender) %>.
    </p>
  </body>
</html>
