@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Courgette');

.main{
  margin-top: 100px;

}
.nav li, .nav a {
  color: #1AD1FF !important;
}

.nav li{
  margin-right: 15px;
  margin-top: 20px;
}

.navbar{
  background-color: #600080;
}



#messages{
  height: 600px;
  overflow: scroll;
  position: relative;
  margin-bottom: 40px;
}

.thumbnail{
  height:30px;
  width: 30px;
}
.message_info, .thumbnail{
  display: inline-block;
}

.colored-message{
  width: 50%;
  border-radius: 15px;
  padding: 15px;
  margin: 5px;
  border: 3px solid black;
}
.blue{
  float: right;
  clear: both;
  background: blue;
  color: white;
}
.yellow{
  clear: both;
  background: yellow;
}
.center{
  text-align: center;
  margin-bottom: 40px;
}
.glyphicon-heart{
  color: red;
  margin: 5px;
}
.glyphicon-remove{
  color: purple;
  margin: 5px;
}
.message_submit{
  margin-top: 5px;
}

.matchrooms{
  color: #600080;
}
