@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Courgette');

.main{
  margin-top: 15px;
  padding: 15px;
  min-height: calc(100vh - 152px);

}
.nav li, .nav a {
  color: #1AD1FF !important;
}

.nav li{
  margin-right: 15px;
  margin-top: 20px;
}

.navbar{
  background-color: #600080;
}



#messages{
  height: 500px;
  overflow: scroll;
  position: relative;
  margin-bottom: 40px;
}
.row{
  padding: 30px;
}

footer{
  height: 60px;  /* footer height */
  display: block;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  background-color: #600080;
}

.thumbnail{
  height:40px;
  width: 40px;
}
.message_info, .thumbnail{
  display: inline-block;
}

.colored-message{
  width: 50%;
  border-radius: 15px;
  padding: 15px;
  margin: 5px;
  border: 3px solid black;
}
.blue{
  float: right;
  clear: both;
  background: blue;
  color: white;
}
.yellow{
  clear: both;
  background: yellow;
}
.center{
  text-align: center;
  margin-bottom: 40px;
  color: white;
}
.glyphicon-heart{
  color: red;
  margin: 5px;
}
.glyphicon-user{
  color: blue;
  margin: 5px;
}
.breakup{
  display: inline-block;
}
.glyphicon-remove{
  color: purple;
  margin: 5px;
}
.message_submit{
  margin-top: 5px;
}

.third{
  padding-top: 20px;
}
.img-circle{
  height: 200px;
  width: 200px;
}
.row-fluid{
  text-align: center;
}
