@import url('https://fonts.googleapis.com/css?family=Courgette');

body{
  background-color: #1ad1ff;
  color: #600080;
}
//#660000

.jumbotron{
    background-color: #600080;

}

#abtme{
  background-color:#600080;
  color: white;
  font-family: 'Courgette', cursive;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  opacity: .9;
}

.box{
    background-color: white;
    color: #600080;
    border:1px solid black;
    padding: 20px;
    border-radius: 10px;
}

.box h3{
  font-family: sans-serif;
}

.box p{
  padding: 5px;
}

.row{
  width: 100%;
  background-color: #600080;
  border-radius: 10px;
  margin-left: 0px;
  opacity: .9;
}

.form-area{
  background-color: #FAFAFA;
	padding: 20px;
	margin: 10px 0px 60px;
	border: 1px solid GREY;
	}

  #container-fluid{
    background-image: url('http://static1.1.sqspcdn.com/static/f/803157/25573044/1413913487363/online_dating_robots.jpg?token=%2BNlLEL2vMo16pE6omlFIqTja9Ro%3D');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    border: 3px solid #600080;
    opacity: .9;
  }

  .container-fluid{
  background-color: #600080;
}

  .image{
    margin-top: 10px;
  }

  .list-group-item{
    height: 40px;
  }

  .jumbo1{
    margin-top: 50px;
    background-color: #600080;
  }

  #newRow{
    background-image: url('http://i2.cdn.cnn.com/cnnnext/dam/assets/160108074615-online-dating-illustration-exlarge-169.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  #newRow label{
  color: white;
  }

  #homejumbo{
    color: #600080;
    background-image: url('http://i.huffpost.com/gen/2096496/images/o-HAPPY-COUPLE-facebook.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    font-family: 'Courgette', cursive;
  }

  #homejumbo h1{
    text-align: center;
  }

  #loginBox{
    background-color:#600080;
    margin-top: 20px;
    color: #1ad1ff;
    opacity: .7;
    border-radius: 10px;
  }

  .header{
    background-color: #600080;
    color: white;
  }


  #registerBox{
    background-color:#600080;
    margin-top: 20px;
    color: #1ad1ff;
    border-radius: 10px;
    opacity: .7;
  }

  legend{
    color:#1ad1ff;
  }

#profContainer{
  margin-left: -15px;
}

.login_reg_Quote h1{
  font-family: 'Courgette', cursive;
  text-align: center;
}

#footer{
  background-color: #600080;
  margin-left: -15px;
  border-radius: 10px;
  text-align: center;
  opacity: .9;

}

.img-responsive{
  padding: 5px;
  display: inline-block;
}

p{
  font-family: 'Courgette', cursive;

}
.editpage label{
  color: white;
}

label{
  color: #600080;
}

#cardblock{
  width: 40%;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  color: white;
}

.form-group{
  background-color: #600080;
  padding: 10px;
  border-radius: 10px;
}

.alert{
  margin: 0px;
  font-size: 15px;
  list-style-type: none;
}
