@import url('https://fonts.googleapis.com/css?family=Courgette');

body{
  background-color: #1ad1ff;
  color: #600080;
}
//#660000

.jumbotron{
    background-color: #600080;

}

.abtmebox{
  background-color:#B9E2F8;
  height: 200px;
  padding: 20px;
  width: 110%;
  margin-left: -50px;
  margin-top: -30px;
  border-radius: 5px;
  color: #600080;
}

.box{
    background-color: #B9E2F8;
    color: #600080;
    border:1px solid black;
    padding: 20px;
    border-radius: 10px;
}

.card{
  margin-left: -15px;
  width: 20px;
  display: inline-block;
  color: #600080;
  background-color: white;
  text-align: center;
}

.row{
  width: 100%;
  background-color: #600080;
  border-radius: 10px;
  margin-left: 0px;
}

.form-area
{
  background-color: #FAFAFA;
	padding: 10px 40px 60px;
	margin: 10px 0px 60px;
	border: 1px solid GREY;

	}

  #container-fluid{
    background-image: url('http://static1.1.sqspcdn.com/static/f/803157/25573044/1413913487363/online_dating_robots.jpg?token=%2BNlLEL2vMo16pE6omlFIqTja9Ro%3D');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    color: white;
    border: 3px solid #600080;

  }

  .image{
    margin-top: 10px;
  }

  .list-group-item{
    height: 40px;
  }

  .love{
    background-color: #600080;
    margin-top: 20px;
    border-radius: 10px;
  }

  .jumbo1{
    margin-top: 50px;
    background-color: #600080;
  }

  #newRow{
    height: 350px;
    background-image: url('http://i2.cdn.cnn.com/cnnnext/dam/assets/160108074615-online-dating-illustration-exlarge-169.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  #homejumbo{
    color: #600080;
    background-image: url('http://i.huffpost.com/gen/2096496/images/o-HAPPY-COUPLE-facebook.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    font-family: 'Courgette', cursive;
  }

  #homejumbo h1{
    text-align: center;
  }

  #loginBox{
    background-color:#1ad1ff;
    width: 25%;
    height: 200px;
    margin-left: 200px;
    margin-top: 20px;
    color: #600080;
    opacity: .7;
    border-radius: 10px;
  }

  #registerBox{
    background-color:#1ad1ff;
    width: 25%;
    height: 300px;
    margin-left: 150px;
    margin-top: 20px;
    color: #600080;
    opacity: .7;
    border-radius: 10px;
  }

#profContainer{
  margin-left: -15px;
}

.login_reg_Quote{
  font-family: 'Courgette', cursive;
  text-align: center;
}

#footer{
  background-color: #600080;
  margin-left: -15px;
  border-radius: 10px;
  display: inline-block;
}

.img-responsive{
  display: inline-block;
  padding: 10px;
}
